{{set . "title" "Contact Me"}}
{{template "header.html" .}}
<body>

  
      <div id="main">
          <div class="header">
              <h1>Blog</h1>
              <h2>Assorted thoughts</h2>
          </div>
  
          <div class="content">
            <div id="retainable-rss-embed" 
            data-rss="https://medium.com/feed/@jeremy.germita"
            data-maxcols="1" 
            data-layout="grid" 
            data-poststyle="inline" 
            data-readmore="Read more" 
            data-buttonclass="btn btn-primary" 
            data-offset="-100"></div>
          </div>
      </div>
  </div>
  
  
  
  
  <script src="/public/js/ui.js"></script>
  
  </body>

  
<script src="https://www.retainable.io/assets/retainable/rss-embed/retainable-rss-embed.js"></script>
{{template "footer.html" .}}
