<html>
<meta name="robots" content="noindex">

    <title>{{.title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
    integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <link rel="stylesheet" href="/public/css/layouts/side-menu.css">
    

    <head>
        <style>
            .pure-menu-item, .pure-menu-heading {
                height: auto;
                padding: 0px;
            }
            .pure-menu-link{
                font-size:48px;
            }

            div.footer {
    background-color: #7E8FC8;
    padding-top: 15px;
    padding-bottom: 15px;
  }


    img.social {
      padding-right: 30px;
      padding-left: 30px;
      width: 140px;
    }
    table {
        font-size: 28px;
    }

    .tableLeft {
        float: right;

    }

    .tableMid {
        padding-right: 20px;
        padding-left: 20px;
    }

    .tableRight {

    }
        </style>
        <center>
    <div id="layout">
    <div id="menu" style="width:100%;">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="/">

                <div class="pure-g">
                    <div class="pure-u-1-1">
                        <img class="pure-img-responsive" src="/public/img/header.png">
                    </div>
                </div>

            </a>

            <ul class="pure-menu-list" style="padding-top:15px;">
                <li class="pure-menu-item" style="font-size:36px"><b>Jeremy Germita</b>
                    <li class="pure-menu-item" style="font-size:28px">
                        <table>
                            <tr><td class="tableLeft"><b>IT Specialist</b></td><td class="tableMid">//</td><td>(CISSP, Sec+)</td></tr> 
                            <tr><td class="tableLeft"><b>Technical Mentor</b></td><td class="tableMid">//</td><td>FRC Team 399 - Eagle Robotics</td></tr> 
                            <tr><td class="tableLeft"><b><b>Combat Robot Builder, Driver</b></b></td><td class="tableMid">//</td><td>Level 5 Robotics</td></tr> 
                            <tr><td class="tableLeft"><b><b>Pit Crew</b></b></td><td class="tableMid">//</td><td>BattleBots MaDcAtTeR, Uppercut</td></tr> 
                            <tr><td class="tableLeft"><b>Professional YoYo Player</b></td><td class="tableMid">//</td><td>General-Yo</td></tr> 
                        </table>
                        <br>
                </li>
                <li class="pure-menu-heading" style="padding-top: 15px;
                padding-bottom: 15px;" >
                    
                        <a href="https://www.facebook.com/jeremy.germita" target="_blank"><img class="pure-img-responsive social" src="/public/img/fb2.png"/> </a>
                        <a href="https://instagram.com/robots.jpg" target="_blank"><img class="pure-img-responsive social" src="/public/img/ig2.png"/> </a>
                        <a href="https://www.youtube.com/channel/UCZVhE-wuYzTZE4Ozd0DoFGA?view_as=subscriber" target="_blank"><img class="pure-img-responsive social" width="120px" src="/public/img/yt2.png"/> </a>
                        <a href="https://www.linkedin.com/in/jeremy-germita-77a15042/" target="_blank"><img class="pure-img-responsive social" src="/public/img/linkedin2.png"/> </a>
                        <a href="/" target="_blank"><img class="pure-img-responsive social" src="/public/img/github2.png"/> </a>
                        <a href="mailto:jeremy.germita@gmail.com"><img class="pure-img-responsive social"  src="/public/img/email2.png"/></a>
                    
                  </li>
                  <!--
                <li class="pure-menu-item"><a href="https://instagram.com/robots.jpg" target="_blank" class="pure-menu-link">📷 Instagram</a></li>
                <li class="pure-menu-item"><a href="https://www.facebook.com/jeremy.germita" target="_blank" class="pure-menu-link">📱 Facebook</a></li>
                <li class="pure-menu-item"><a href="https://www.youtube.com/channel/UCZVhE-wuYzTZE4Ozd0DoFGA?view_as=subscriber" target="_blank" class="pure-menu-link">▶️ Youtube</a></li>
                <li class="pure-menu-item"><a href="https://www.linkedin.com/in/jeremy-germita-77a15042/" target="_blank" class="pure-menu-link">💼 LinkedIn</a></li>
                
                <li class="pure-menu-item"><a href="mailto:jeremy.germita@gmail.com" class="pure-menu-link">📧 Email</a></li>
            -->
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">🔗 Website</a></li>
                <li class="pure-menu-item"><a href="/public/doc/Resume_JeremyGermita.pdf" class="pure-menu-link">💼 Resume</a></li>
                <li class="pure-menu-item"><a href="https://medium.com/@jeremy.germita" target="_blank" class="pure-menu-link">📄 Blog</a></li>
                <!--<li class="pure-menu-item"><a href="public/doc/Resume.pdf" target="_blank" class="pure-menu-link">Resume</a></li>

                <li class="pure-menu-heading">Level 5</li>-->
                <li class="pure-menu-item"><a href="/level5" class="pure-menu-link">⚙️ Level 5 Robotics</a></li>
                
                <li class="pure-menu-item"><img class="pure-img-responsive" src="/public/img/sandstorm.png"></li>
                <li class="pure-menu-item"><hr></li>
                
                <!--
                <li class="pure-menu-heading">Projects</li>
                <li class="pure-menu-item"><a href="/projects" class="pure-menu-link">Old Projects</a></li>
                

                <li class="pure-menu-heading">Friends</li>
                <li class="pure-menu-item"><a href="https://stillgonnasendit.org/" target="_blank" class="pure-menu-link"><img class="pure-img-responsive" src="/public/img/uppercut.png"></a></li>
                <li class="pure-menu-item"><a href="https://www.team399.org/" target="_blank" class="pure-menu-link"><img class="pure-img-responsive" src="/public/img/399_logo.png"></a></li>
                <li class="pure-menu-item"><a href="http://generalyo.com/" target="_blank" class="pure-menu-link"><img class="pure-img-responsive" src="/public/img/generalyo.png"></a></li>

                -->
                <!--
                    <li class="pure-menu-item"><a href="/w" class="pure-menu-link">Spinner Calculator</a></li>
                -->
            </ul>
        </div>
    </div>
</div>
</center>
</head>
</html>