{{set . "title" "Combat Robotics Resources"}}
{{template "header.html" .}}

<body>


    <div id="main">
        <div class="header">
            <h1>Tools</h1>
            <h2></h2>
        </div>

        <div class="content">

            <br>
        <p>Here are some tools that I've created to help assist me in designing combat robots</p>


        <h2>Calculators</h2>
        <h3>Brushless Drivetrain</h3>
        <p>Calculator for determining speed and pushing power of a brushless combat robot drivetrain</p>

        <a href="/dt" class="btn btn-primary">Brushless DT calculator</a>
        <h3>Brushed Drivetrain</h3>
        <p>Calculator for determining speed and pushing power of a brushed combat robot drivetrain</p>
        <a href="/dt_brushed" class="btn btn-primary">Brushed DT calculator</a>

        <h3>Tip Speed</h3>
        <p>Calculator for determining linear tip speed of a spinning combat robot weapon</p>
        <a href="/w" class="btn btn-primary">Tip speed calculator</a>
    
        </div>
    </div>
    </div>




    <script src="/public/js/ui.js"></script>

</body>
{{template "footer.html" .}}