{{set . "title" "Combat Robotics Resources"}}
{{template "header.html" .}}

<body>


    <div id="main">
        <div class="header">
            <h1>Resources</h1>
            <h2></h2>
        </div>

        <p>Here are some of my favorite resources for building and operating combat robots</p>

        todo: make this page less ugly. 
        <div class="content">
            <ul>
                <li>General
                    <ul>
                        <li><a href="" target="_blank">Riobotz Combot Tutorial</a></li>
                        </ul>
                </li>
                <li>OpenTX stuff
                    <ul>
                    <li><a href="http://runamok.tech/RunAmok/Taranis_Robo.pdf?fbclid=IwAR3l1DyOKSLOasaMDvtUDvL1AKtJUWHaANzdxBT2CnZ66o6dUoFtiJ6d1Sc" target="_blank">Taranis Q X7 setup guide</a></li>
                    </ul>
                </li>
                <li></li>
            </ul>
            


        </div>
    </div>
    </div>




    <script src="/public/js/ui.js"></script>

</body>
{{template "footer.html" .}}