<!--<title>{{.fight.Event}} {{.fight.MyRobot}} vs {{.fight.OpponentRobot}}</title>-->
{{set . "title" "Fight"}}
{{template "header.html" .}}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://www.youtube.com/iframe_api"></script>

  
<body>


  <div id="main">
    <div class="header">
      <h1>{{.fight.Event}}</h1>
      <h2>{{.fight.MyRobot}}
        {{if eq .fight.IsRumble false}} vs {{else}} - {{end}}
         {{.fight.OpponentRobot}}</h2>
    </div>

    <div class="content">

      

      <!--<p>{{.bot.Desc}}</p>-->
      <div class="pure-g">



        <div class="pure-u-8-24">

          {{if eq .fight.Recap ""}}{{else}}
          <h2>Fight Recap</h2>
          <p>{{.fight.Recap}}</p>
          {{end}}
          
          <h2>Result</h2>
          <table class="pure-table pure-table-horizontal">

            <tbody>

              <tr>
                <th>My Robot</th>
                <td>{{.fight.MyRobot}}
                  
                  {{if eq .fight.MyWin true}} 
                  <span style="border-radius: 10%;color: Black; padding: 4px; background: #FFD739;">Win</span>
                    
                  {{else}}
                  <span style="border-radius: 10%;color: Black; padding: 4px; background: #ff010185;">Loss</span>
                  {{end}}
                </td>
              </tr>

              <tr>
                <th>Opponent</th>
                <td>{{.fight.OpponentRobot}}   
                  {{if eq .fight.IsRumble true}}
                  {{if eq .fight.MyWin true}} 
                  
                  {{else}}
                  <span style="border-radius: 10%;color: Black; padding: 4px; background: #FFD739;">Win</span>
                  {{end}}
                  {{end}}

                </td>
              </tr>
              
            </tbody>
          </table>
          <br>
          
          <br>

        </div>
        <div class="pure-u-1-12"></div>
        <div class="pure-u-14-24">
          {{if eq .fight.VideoExists true}}
      
          <h2>Video</h2>
          
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{.fight.Video}}" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
          {{end}}

        </div>
      </div>

        <div class="slide-arrow left"></div>
        <div class="slide-arrow right"></div>
    </div>
    </div>
  </div>
  </div>




  <script src="/public/js/ui.js"></script>

</body>
{{template "footer.html" .}}