{{set . "title" "FIRST Robots"}}
{{template "header.html" .}}

<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">

<body>

  
      <div id="main">
          <div class="header">
              <h1>FIRST Robots</h1>
              <h2>Inspiring the next generation to build cool stuff</h2>
          </div>
  
          <div class="content">
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <center><img id="RobotPic" class="pure-img-responsive" src="/public/img/399_logo.png" width="50%"></center>
                </div>
                <div class="pure-u-1-2">
                    <center><img id="RobotPic" class="pure-img-responsive" src="/public/img/5012_logo.png" width="40%"></center>
                </div>
            </div>
            
            <br><br>
            I've been involved in the FIRST Robotics competition since 2007. I was a student on Team 399: Eagle Robotics and FTC Team 72: Garagebots 
            from the fall of 2009 until my high school graduation in 2013. Shortly after, I was involved in coaching several other teams in the Antelope Valley Area 
            until 2015 when I settled in with Team 5012 Gryffingear. In 2019, when I left my last job, I also departed from Gryffingear. Since then, I've joined team 399
            once again as a mentor. 

            <br>
            <br>
            I really enjoy spending my time teaching students about mechanical design, software development, project management, and life skills. The robots listed on this 
            page are merely tools for the main goal of inspiring students to find their own personal growth and passions. I think we've made some cool robots along the way.
            
            <br>
            <br>
            <hr>


            {{range .bots}}
            
      
            <div class="pure-g">
                <div class="pure-u-11-24">
                    

                    <div id="picContainer" class="tabcontent" style="position:relative; text-align:right; font-family: 'Roboto';font-size: 48px; color:white;">
                        <img id="RobotPic" class="pure-img-responsive" src="/public/img/{{.Img}}">
                        <div style="position: absolute; bottom: 16px; right: 16px; color:#FEFEFE; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">{{.Name}}</div>
                        <div style="position: absolute; top: 16px; left: 16px; color:#FEFEFE; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">{{.Year}}</div>
                        
                    </div>
                    <br>
                    <table class="pure-table pure-table-horizontal" width="100%">

                        <tbody>
            
                            <tr>
                              <th>Team</th>
                              <td>{{.Team}}</td>
                            </tr>
            
                            {{if .Role}}
                            <tr>
                              <th>Role</th>
                              <td>{{.Role}}</td>
                            </tr>
                            {{end}}

                            {{if .Award}}
                            <tr>
                              <th>Awards</th>
                              <td>
                                {{range .Awards}}
                                <li>{{.}} <br>
                                {{end}}
                              </td>
                            </tr>
                            {{end}}

                            {{if .Tba}}
                            <tr>
                              <th>Stats</th>
                              <td>
                                <a href="{{.Tba}}" target="_blank">Match History</a>
                              </td>
                            </tr>
                            {{end}}
                          
                        </tbody>
                      </table>
                    
                </div>

                <div class="pure-u-1-12"> </div>
            <div class="pure-u-11-24">
            {{if .Video}}
            {{range .Videos}} 
            <iframe width="500" height="300" src="https://www.youtube.com/embed/{{.}}" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            {{end}}
            {{end}}
            
            </div>
            
</div>
<hr>
            {{end}}
        
   
          </div>
      </div>
  </div>
  
  
  
  
  <script src="/public/js/ui.js"></script>
  
  </body>
{{template "footer.html" .}}
