{{set . "title" "Home"}}
{{template "header.html" .}}
<body>

  
      <div id="main">
          <div class="header">
              <h1>FIRST Robots</h1>
              <h2>Inspiring the next generation to build cool stuff</h2>
          </div>
  
          <div class="content">
              <h2 class="content-subhead">How to use this layout</h2>
              <p>
                  To use this layout, you can just copy paste the HTML, along with the CSS in <a href="/css/layouts/side-menu.css" alt="Side Menu CSS">side-menu.css</a>, and the JavaScript in <a href="/public/js/ui.js">ui.js</a>. The JS file uses vanilla JavaScript to simply toggle an <code>active</code> class that makes the menu responsive.
              </p>
  
              <div class="pure-g">
                  <div class="pure-u-1-3">
                      <img class="pure-img-responsive" src="public/img/5012_2019.jpg"> <br>
                      <img class="pure-img-responsive" src="public/img/5012_2017.jpg"> <br>
                      <img class="pure-img-responsive" src="public/img/5012_2015.jpg"> <br>
                      <img class="pure-img-responsive" src="public/img/399_2014.jpg"> <br>
                      <img class="pure-img-responsive" src="public/img/399_2011.jpg"> <br>
                      <img class="pure-img-responsive" src="public/img/72_2013.jpg"> <br>
                  </div>
                  <div class="pure-u-1-3">
                        <img class="pure-img-responsive" src="public/img/5012_2018.png"> <br>
                        <img class="pure-img-responsive" src="public/img/5012_2016.jpg"> <br>
                        <img class="pure-img-responsive" src="public/img/5012_2014O.jpg"> <br>
                        <img class="pure-img-responsive" src="public/img/399_2013.jpg"> <br>
                        <img class="pure-img-responsive" src="public/img/399_2010.jpg"> <br>
                        <img class="pure-img-responsive" src="public/img/72_2012.jpg"> <br>
                  </div>
                  <div class="pure-u-1-3">
                        <img class="pure-img-responsive" src="public/img/5012_2017O.jpg"> <br>
                        <img class="pure-img-responsive" src="public/img/5012_2015O.jpg"> <br>
                        <img class="pure-img-responsive" src="public/img/5012_2014.jpg"> <br>
                        <img class="pure-img-responsive" src="public/img/399_2012.jpg"> <br>
                        <img class="pure-img-responsive" src="public/img/7328_2014.jpg"> <br>
                        <img class="pure-img-responsive" src="public/img/72_2011.jpg"> <br>
                  </div>
              </div>
  
          </div>
      </div>
  </div>
  
  
  
  
  <script src="/public/js/ui.js"></script>
  
  </body>
{{template "footer.html" .}}
