{{set . "title" "Jeremy Germita"}}
{{template "header.html" .}}

<body>


  <div id="main">
    <div class="header">
      <h1>Jeremy Paul Germita</h1>
      <h2>Robot enthusiast, hobbyist software dev, tinkerer</h2>
    </div>

    <div class="content">
      <h2 class="content-subhead">About me</h2>
      <p>
        I like building cool things. I've worked on projects of many different scales and breadths ranging from <a
          href="/level5">combat robots</a> to <a href="/projects">DJ controllers</a> to <a href="/software">webapps.</a>
        I've created this site as sort of a digital portfolio to document and share these projects. In fact, this site
        is one such project. I've had direct hands on experience with a multitude of
        tools and software in many different fields. I'm creative problem solver with a strong competitive drive. If you
        want to learn more about me and my experiences, you can view my resume <a href="/me">here!</a>

        <br><br>

        In my free time, I help high school students build and program robots while finding their own sparks of
        curiosity and leadership along the way.

        <br>

      </p>

      <h2 class="content-subhead">Current Projects</h2>
      <p>
        Currently, I am working on building out this new site. It replaces an old site I've maintained since 2017. While
        perfectly adequate, I've always wanted to dive into developing web applications and a complete overhaul of my
        personal site was the perfect opportunity to begin. This site was built using Go and the Revel framework and
        deployed onto and hosted by Heroku.

        <br> 
        Read more about it <a href="/software#site">here!</a>

        <br><br>
        <img class="pure-img-responsive" src="public/img/robots2019.png">

        Additionally, I've been building 3 combat robots for a competition at the end of July - Sandstorm, Sideslip, and
        Faultline.
        <br>
        Sandstorm and Sideslip will both compete in the 3lb weight class. They're both built atop the same
        chassis/drivetrain design, but differ in the specific modules and drivetrain configurations installed. I've
        designed and machined these chassis myself using Autodesk Inventor and a Haas Mini Mill.
        <br>
        This will
        be the second version of Sandstorm. While it has seen decent competitive success in the past, I'm completely
        revamping the design to reflect many lessons learned. You can read more about Sandstorm's past exploits here and
        here.
        <br>
        Sideslip's primary objective was to serve as a testbed for an experimental drive configuration never before seen
        in the sport.

        <br>

        Faultline is a fairly last minute addition to the fleet. It's designed to compete in the 1lb Plastic weight
        class. This weight class is interesting because any structural or damaging components must be made of ABS or PLA
        plastics. The chassis of Faultline will be 3D printed out of ABS. It was a fairly quick design cycle since it
        took a lot of design cues from all of my past robots, specifically the first iteration of Sandstorm.

      </p>


    </div>
  </div>
  </div>




  <script src="js/ui.js"></script>

</body>
{{template "footer.html" .}}