{{set . "title" "Jeremy Germita"}}
{{template "header.html" .}}

<body>


  <div id="main">
    <div class="header">
      <h1>jeremy paul germita</h1>
      <h2>robot enthusiast</h2>
    </div>

    <div class="content">


      <br>
      <div id="retainable-rss-embed" 
data-rss="https://medium.com/feed/@jeremy.germita"
data-maxcols="2" 
data-layout="grid" 
data-poststyle="inline" 
data-readmore="Read more" 
data-buttonclass="btn btn-primary" 
data-offset="-100"></div>

    </div>
  </div>
  </div>




  <script src="/public/js/ui.js"></script>

</body>

<script src="https://www.retainable.io/assets/retainable/rss-embed/retainable-rss-embed.js"></script>
{{template "footer.html" .}}