{{set . "title" "pickr"}}
{{template "header.html" .}}

<body>


  <div id="main">


    <div class="pure-g">
      <div class="pure-u-1-24 pure-u-xl-1-16"></div>
      <div class="pure-u-11-24 pure-u-xl-7-8">

        <h3>adequate robot data analytics</h3>
        <br>


        <a href="/dashboard/5012">dashboard</a>


        <p>
          <form action="/">
            Please enter your access code:
            <input type="text" name="team" value="demo">
            <input type="submit" value="Submit">
          </form>
        </p>

      </div>



      <div class="pure-u-1-24 pure-u-xl-1-16"></div>


    </div>
  </div>
  </div>




  <script src="/public/js/ui.js"></script>

</body>
{{template "footer.html" .}}