{{set . "title" "Level 5 Robotics"}}
{{template "header.html" .}}

<body>


    <div id="main">
        <div class="header">
            <div class="pure-g">
                <div class="pure-u-1-1">
                    <img class="pure-img-responsive" src="/public/img/l5logosmall.png">
                </div>
            </div>
        </div>

        <div class="content">
            <h2 class="content-subhead">Small, violent robots</h2>
            <p>
                Level 5 Robotics is the brand that I've created around the competitive combat robots that I build. All
                of my robots are designed by myself using Autodesk Inventor and manufactured using a variety of machines
                and services like CNC machining, waterjet cutting, and 3D printing.

                <br><br>

                Learn more about my robots below!
            </p>


            <h2 class="content-subhead">Robots</h2>
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>Robot</th>
                        <th>Weight Class</th>
                        <th>Weapon Type</th>
                        <th>Status</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Events</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Sandstorm</td>
                        <td>3lb</td>
                        <td>Vertical Spinner</td>
                        <td>In Service</td>
                        <td>3</td>
                        <td>4</td>
                        <td>Destruction Under the Stars 2018, Sparklecon Smash 2019, Destruction Under the Stars 2019
                        </td>
                    </tr>

                    <tr>
                        <td>Sideslip</td>
                        <td>3lb</td>
                        <td>Wedge</td>
                        <td>In Service</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Destruction Under the Stars 2019</td>
                    </tr>

                    <tr>
                        <td>Faultline</td>
                        <td>1lb Plastic</td>
                        <td>Vertical Spinner</td>
                        <td>In Service</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Destruction Under the Stars 2019</td>
                    </tr>

                    <tr>
                        <td>Echo</td>
                        <td>12lb</td>
                        <td>Vertical Spinner</td>
                        <td>In Service</td>
                        <td>0</td>
                        <td>2</td>
                        <td>Sparklecon Smash 2019</td>
                    </tr>

                    <tr>
                        <td>Blackout</td>
                        <td>12lb</td>
                        <td>Vertical Spinner</td>
                        <td>retired</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    </div>




    <script src="js/ui.js"></script>

</body>
{{template "footer.html" .}}