{{set . "title" "Level 5 Robotics"}}
{{template "header.html" .}}

<style>
	
	/* Additionnal styles */
	.video-slider {
		width: 100%;
		height: 30em;
		background: #444;
		position: relative;
		overflow: hidden;
	}
	.slide {
		position: absolute;
		top: 0;
		left: 100%;
		height: 100%;
		width: 100%;
		text-align: center;
		overflow: hidden;
	}
	.slide:first-child{
		left: 0;
	}
	.video{
		height: 100%;
		width: 100%;
		border:0;
	}
	.slide-arrow{
		position: absolute;
    color: white;
		top: 0;
		left: 0;
		height: 45%;
		width: 15%;
		cursor: pointer;
		opacity: .5;
	}
	.slide-arrow:hover{
		opacity: 1;
	}
	.slide-arrow:after{
		content: "\003c";
		text-align: center;
		display: block;
		height: 10%;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		font-size: 3em;
	}
	.slide-arrow.right:after{
		content: "\003e";
	}
	.slide-arrow.right{
		left: auto;
		right: 0;
	}

    .robotPic {
        
        display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
    }

    .robotPic img {

        width: auto;
  height: 100%;
  margin-left: -20%;
    }

    .robotContainer {
        float: left;
  width: 33.33%;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
    }

    .robotContainer:after {
        content: "";
        display: table;
        clear: both;
        }
    .eventsContainer {
        float: left;
        position: relative;
    }


	</style>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script>
	$(document).ready(function () {
		var pos = 0,
			slides = $('.slide'),
			numOfSlides = slides.length;

      
		function nextSlide() {
			// `[]` returns a vanilla DOM object from a jQuery object/collection
			slides[pos].video.stopVideo()
			slides.eq(pos).animate({ left: '-100%' }, 500);
			pos = (pos >= numOfSlides - 1 ? 0 : ++pos);
			slides.eq(pos).css({ left: '100%' }).animate({ left: 0 }, 500);
		}

		function previousSlide() {
			slides[pos].video.stopVideo()
			slides.eq(pos).animate({ left: '100%' }, 500);
			pos = (pos == 0 ? numOfSlides - 1 : --pos);
			slides.eq(pos).css({ left: '-100%' }).animate({ left: 0 }, 500);
		}

		$('.left').click(previousSlide);
		$('.right').click(nextSlide);
	})

    $('.slide').click(window.clearInterval(advance))
	function onYouTubeIframeAPIReady() {
		$('.slide').each(function (index, slide) {
			// Get the `.video` element inside each `.slide`
			var iframe = $(slide).find('.video')[0]
			// Create a new YT.Player from the iFrame, and store it on the `.slide` DOM object
			slide.video = new YT.Player(iframe)
		})
	}
	</script>
<body>


    <div id="main">
        <div class="header">
            <div class="pure-g">
                <div class="pure-u-1-1">
                    <img class="pure-img-responsive"
                        src="/public/img/l5logosmall.png">
                    <br><br>
                </div>
            </div>
        </div>

        <div class="content">

            <br>
            <div class="video-slider">
                <!-- SLIDE 1 -->
                {{range .videos}}
                {{if .VideoExists}}

                <div class="slide" id="slide">
                    <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/{{.}}" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                    <iframe class="video"
                        src="https://www.youtube.com/embed/{{.Video}}?ecver=2&enablejsapi=1"></iframe>
                </div>
                {{else}}

                {{end}}
                {{end}}
                {{range .bot.Media}}


                {{end}}
                <!-- END OF SLIDES -->
                <div class="slide-arrow left"></div>
                <div class="slide-arrow right"></div>
            </div>
            <br><!--
            <p>
                Level 5 Robotics is the brand that I've created around the
                competitive combat robots that I build. All
                of my robots are designed by myself using Autodesk Inventor and
                manufactured using a variety of machines and tools.

                <br><br>
                Learn more about my robots below!
            </p>
            -->


            <!--{{.record}}
            <br>-->



            {{range .bots}}
            <div class="robotContainer">
                <table class="pure-table pure-table-horizontal">

                    <tr><td colspan="2" style="text-align: center;"><a
                                href="/level5/{{.Name}}">{{.Name}} <span style="border-radius: 5%;color: black; padding:
                                4px; background: #BEBEBE;">
                                V{{.CurrentVersion}}
                              </span></a></td>
                        <tr><td colspan="2">
                                <div class="robotPic" style="margin: 0 auto;
                                    border-style: solid; border-width:7px;
                                    border-color: #{{.Rgb}};">
                                    <a href="/level5/{{.Name}}"><img
                                            src="/public/img/level5assets/robotpics/{{.Name2}}_{{.CurrentVersion}}.jpg"
                                            /></a>
                                </div>

                            </td>
                        </tr>
                        <tr> <th>Weight Class:</th><td>{{.WeightClass}}</td></tr>
                        <tr> <th>Weapon Type:</th><td>{{.Weapon}}</td></tr>
                        <tr> <th>W-L:</th><td>{{.Wins}} - {{.Losses}}
                                ({{.Winrate}}%)</td></tr>
                        <tr> <th>Status: </th><td>{{if eq .Status "In Service"}}
                                <span style="border-radius: 5%;color: white;
                                    padding: 4px; background: green;">
                                    {{else if eq .Status "On Hold"}}
                                    <span style="border-radius: 5%;color: black;
                                        padding: 4px; background: #BEBEBE;">
                                        {{else if eq .Status "Retired"}}
                                        <span style="border-radius: 5%;color:
                                            white; padding: 4px; background:
                                            #606060;">
                                            {{else}}
                                            <span style="border-radius:
                                                5%;color: black; padding: 4px;">
                                                {{end}}
                                                {{.Status}}</span></td></tr>
                                </table>

                            </div>
                            {{end}}
                            <br>
                            <hr>
                            <div style="margin-top:1700px;">
                                <h2 class="content-subhead">Events</h2>
                                <table class="pure-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <img class="pure-img-responsive"
                                                    src="/public/img/video.png"></th>
                                                    <th>Robot</th>
                                            <th>Event</th>
                                            
                                            <th></th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {{range .events}}
                                        <tr>
                                            <td>
                                                {{if .VideoExists}}

                                                <a
                                                    href="https://www.youtube.com/watch?v={{.Video}}"
                                                    target="_blank">
                                                    <img
                                                        class="pure-img-responsive"
                                                        src="/public/img/video.png">
                                                </a>
                                                {{else}}

                                                {{end}}

                                            </td>
                                            <td><a href="/level5/{{.Robot}}">{{.Robot}}</a></td>
                                            <td><a href="/level5/{{.Robot}}#{{.Name}}">{{.Name}}</a></td>
                                            <td><center>{{if eq .Finish "1st"}}
                                                    <span style="border-radius:
                                                        5%;color: black;
                                                        padding: 4px;
                                                        background: #FFD739;">
                                                        {{else if eq .Finish "2nd"}}
                                                        <span
                                                            style="border-radius:
                                                            5%;color: black;
                                                            padding: 4px;
                                                            background:
                                                            #BEBEBE;">
                                                            {{else if eq .Finish "3rd"}}
                                                            <span
                                                                style="border-radius:
                                                                5%;color: white;
                                                                padding: 4px;
                                                                background:
                                                                #BB8644;">
                                                                {{else if eq .Finish "NR"}}
                                                                <span
                                                                    style="border-radius:
                                                                    5%;color:
                                                                    white;
                                                                    padding:
                                                                    4px;
                                                                    background:
                                                                    #606060;">
                                                                    {{else if eq .Finish ""}}
                                                                    <span>
                                                                        {{else}}
                                                                        <span
                                                                            style="border-radius:
                                                                            5%;color:
                                                                            white;
                                                                            padding:
                                                                            4px;
                                                                            background:
                                                                            #0094B2;">
                                                                            {{end}}
                                                                            {{.Finish}}</span></center></td>
                                                                <td>{{.Date}}</td>
                                                            </tr>
                                                            {{end}}
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>




                                        <script src="/public/js/ui.js"></script>
                                    </body>


                                    {{template "footer.html" .}}