{{set . "title" "Me"}}
{{template "header.html" .}}

<body>


    <div id="main">
        <div class="header">
            <h1>Jeremy Paul Germita</h1>
            <h2>jeremy.germita@gmail.com</h2>
        </div>




        <br><br>
        <div class="content">
            <center>
                <img class="pure-img-responsive" src="public/img/me.jpg">
            </center>

            <br><br>
            <h4>
                <div class="pure-g">
                    <div class="pure-u-1-5">
                        <a href="#about">
                            <center>About Me</center>
                        </a>
                    </div>
                    <div class="pure-u-1-5">
                        <a href="#tech">
                            <center>Technologies</center>
                        </a>
                    </div>
                    <div class="pure-u-1-5">
                        <a href="#work">
                            <center>Past Experience</center>
                        </a>
                    </div>
                    <div class="pure-u-1-5">
                        <a href="#volunteering">
                            <center>Volunteering</center>
                        </a>
                    </div>
                    <div class="pure-u-1-5">
                        <a href="#achievements">
                            <center>Achievements</center>
                        </a>
                    </div>
                </div>
            </h4>
            <br><br>

            <h3>You can view this page as a PDF <a href="public/doc/Resume.pdf" target="_blank">here!</a></h3>

            <h2 class="content-subhead" id="about">About Me</h2>
            I am a creative problem solver with a wide variety of skills and experiences across many fields in the
            engineering/design space. My specialty is developing creative solutions to meet or exceed project
            requirements. I thrive in a competitive environment where I can work to expand my skills every
            day.

            <h2 class="content-subhead" id="tech">Technologies</h2>
            <img class="pure-img-responsive" src="public/img/tech.jpg">
            I have proficiency in a wide variety of technologies and tools across many different fields. In addition to
            their use in a professional setting, I use many of the following in my own projects.
            <br><br>
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>Area</th>
                        <th>Technologies</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>General</td>
                        <td>Slack, Google GSuite, Google Sheets, Microsoft Office, Airtable, Trello</td>
                    </tr>
                    <tr>
                        <td>IT/Networking</td>
                        <td>Windows Server administration, Meraki configuration and administration, Powershell, Google
                            GSuite Administration, Network Troubleshooting, Windows</td>
                    </tr>
                    <tr>
                        <td>Software</td>
                        <td>Git/Github, Java, Apache TOMcat, Golang, Revel, National Instruments RoboRIO, Arduino,</td>
                    </tr>
                    <tr>
                        <td>Computer Aided Design/Manufacturing</td>
                        <td>Autodesk Inventor, Grabcad, Onshape, InventorHSM, VCarve</td>
                    </tr>
                    <tr>
                        <td>Manufacturing</td>
                        <td>Haas, Stratasys uPrint, WinCNC, Shopsabre CNC</td>
                    </tr>
                </tbody>
            </table>

            <h2 class="content-subhead" id="work">Past Experience</h2>

            <h3 class="content-subhead" id="tpaa">Network Systems Administrator @ The Palmdale Aerospace Academy</h3>
            <h4>June 2015 - July 2019</h4>
            <img class="pure-img-responsive" src="public/img/tpaatech.jpg">
            <p>
                In addition to helpdesk duties, developed and coordinated system- and campus-wide maintenance and
                service procedures. Assisted with the setup and configuration of a network servicing over 2000 staff
                member and student user accounts and over 2500 clients utilizing Cisco and Cisco-Meraki equipment. Other
                duties: Windows server administration, device specifications and procurement, and STEM technology
                support and maintenance(3D printers, CNC routers, etc). Applied knowledge in the mechanical and
                electrical design processes to design custom fixtures and storage solutions for classroom technology.
                Applied multimedia experience to procure systems for large scale campus events and webcasts.
            </p>

            <h3 class="content-subhead" id="nasa2">Intern / Instrumentation Branch @ NASA Armstrong Flight Research
                Center</h3>
            <h4>June 2015 - August 2015</h4>
            <img class="pure-img-responsive" src="public/img/nasafixture.jpg">
            <p>
                Worked with SOFIA instrumentation team to design mechanical fixtures for sensor evaluation and testing.
                Wrote testing procedures and oversaw functional test and verification process.

                Designed and oversaw testing for thermal sensors to be evaluated for use in SOFIA instrumentation.

                Using AutoCAD, I designed a test fixture to verify the thermal performance of Off the Shelf thermal
                shutoff sensors. Using plastic bushings, the fixture was optimized to produce minimal change in thermal
                performance of the sensors being tested.

                Coordinated with machine shop to procure materials for, manufacture, and assemble the test fixture.

                Developed detailed test plans to test the sensors under many thermal conditions and atmospheric
                pressures to verify sensor performance.
            </p>

            <h3 class="content-subhead" id="nasa1">Intern / Operations Branch @ NASA Armstrong Flight Research Center
            </h3>
            <h4>January 2015 - May 2015</h4>
            <img class="pure-img-responsive" src="public/img/nasa.jpg">
            <p>
                Worked with operations branch to develop a calendar module for DC-8 Operations portal utilizing Java Web
                Technologies.
            </p>

            <h3 class="content-subhead">Youth Robotics Instructor @ SMART Education</h3>
            <h4>July 2014</h4>
            <p>
                Developed and coordinated a week-long introduction to STEM and Robotics summer camp for underrepresented
                high school students at West Shores HS in Salton Sea, CA. Focused on creating introductory activities
                involving mechanical design, sensors, and Java programming.
            </p>

            <h3 class="content-subhead">Youth Robotics Instructor @ King’s Academy</h3>
            <h4>June 2014 - July 2014</h4>
            <img class="pure-img-responsive" src="public/img/kingslego.png">
            <p>
                Developed and implemented an introduction to Robotics summer camp for elementary school students with a
                focus on simple robot locomotion and sensor usage using LEGO robotics systems.
                Organized an event to connect these students with STEM groups from Lancaster High school.
            </p>

            <h2 class="content-subhead" id="volunteering">Volunteer Experience</h2>

            <h3 class="content-subhead">Team Advisor / Lead Engineering Mentor @ Team 5012 Gryffingear</h3>
            <h4>August 2013 - Current</h4>
            <img class="pure-img-responsive" src="public/img/gryffingear.jpg">
            <p>
                Coordinates with school administration and faculty to facilitate unparalleled opportunities for high
                school students to work with industry professionals to design, build, and program World Championship
                caliber robots for the FIRST Robotics Competition. Mentored students in mechanical, electrical, and
                software systems design for dynamic game challenges every year as well as multimedia, leadership, and
                team administration.


                As a team, we’ve won regional events in 2015, 2016, and 2019 as well as the 2015 World Championship all
                the while pursuing community outreach to promote enthusiasm for STEM fields.
            </p>

            <h3 class="content-subhead">Robotics Event Volunteering</h3>
            <h4>2013 - Current</h4>
            <img class="pure-img-responsive" src="public/img/event.jpg">
            <p>
                Volunteered in the following roles at various High School robotics competitions:<br><br>

            </p>
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Event</th>
                        <th>Role</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>2019</td>
                        <td>FRC Aerospace Valley Regional</td>
                        <td>Control Systems Advisor</td>
                    </tr>
                    <tr>
                        <td>2018</td>
                        <td>Beach Blitz</td>
                        <td>Panelist - "Effective Mentoring" / "Drive Coaching"</td>
                    </tr>
                    <tr>
                        <td>2018</td>
                        <td>FRC Aerospace Valley Regional</td>
                        <td>Webmaster</td>
                    </tr>
                    <tr>
                        <td>2017</td>
                        <td>FLL High Desert Techno Classic</td>
                        <td>Robot Design Judge</td>
                    </tr>
                    <tr>
                        <td>2017</td>
                        <td>FTC YULA School Event</td>
                        <td>Head Referee</td>
                    </tr>
                    <tr>
                        <td>2017</td>
                        <td>Vex Robotics Quartz Hill Event</td>
                        <td>Referee</td>
                    </tr>
                    <tr>
                        <td>2017</td>
                        <td>FTC Aerospace Valley Event</td>
                        <td>Field Technical Advisor</td>
                    </tr>
                    <tr>
                        <td>2016</td>
                        <td>FTC Los Angeles Regional</td>
                        <td>Lead Fdield Technical Advisor</td>
                    </tr>
                    <tr>
                        <td>2016</td>
                        <td>FTC Aerospace Valley Event</td>
                        <td>Field Technical Advisor</td>
                    </tr>
                    <tr>
                        <td>2014-2015</td>
                        <td>FTC Aerospace Valley Event</td>
                        <td>Event Director</td>
                    </tr>
                    <tr>
                        <td>2014</td>
                        <td>FRC Las Vegas Regional</td>
                        <td>Robot Inspector</td>
                    </tr>
                    <tr>
                        <td>2014</td>
                        <td>High Tech High Workshops Event</td>
                        <td>Presenter - "Version Control with Github"</td>
                    </tr>
                    <tr>
                        <td>2014</td>
                        <td>SCRRF Fall Workshops</td>
                        <td>Presenter - "Intro to Java Programming"</td>
                    </tr>
                    <tr>
                        <td>2010-2014</td>
                        <td>High Desert LEGO Tournament</td>
                        <td>Head Referee</td>
                    </tr>
                </tbody>
            </table>

            <h3 class="content-subhead">College Student Mentor @ Antelope Valley FIRST Robotics teams</h3>
            <h4>May 2013 - May 2014</h4>
            <img class="pure-img-responsive" src="public/img/soar.jpg">
            <p>
                Worked with High School robotics teams to develop students’ skills in mechanical design, computer
                programming, and leadership. Worked with programs at Lancaster High and SOAR High schools during this
                time.
            </p>

            <h2 class="content-subhead" id="achievements">Achievements</h2>

            <h3 class="content-subhead">FIRST Tech Challenge Compass Award</h3>
            <h4>2014 Los Angeles Regional</h4>
            <img class="pure-img-responsive" src="http://i.imgur.com/Yqau2bQm.png">
            <p>
                The Compass Award recognizes an adult Coach or Mentor who has provided outstanding guidance and support
                for a team throughout the year, and demonstrates to the Team what it means to be a Gracious
                Professional.

                <br>
                I am the youngest person to receive this award at the regional level. The following is the video
                submission created by my students:
                <br>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/ZjUT0_9Y4XU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </p>

        </div>
    </div>
    </div>




    <script src="/public/js/ui.js"></script>

</body>
{{template "footer.html" .}}