{{set . "title" "Me"}}
{{template "header.html" .}}

<body>


    <div id="main">
        <div class="header">
            <h1>Me</h1>
            <h2>A subtitle for your page goes here</h2>
        </div>

        <div class="content">

            <h2 class="content-subhead">Technologies</h2>
            I have proficiency in a wide variety of technologies and tools across many different fields. In addition to
            their use in a professional setting, I use many of the following in my own projects.
            <br><br>
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>Area</th>
                        <th>Technologies</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>General</td>
                        <td>Google GSuite, Google Sheets, Microsoft Office</td>
                    </tr>
                    <tr>
                        <td>IT/Networking</td>
                        <td>Windows Server administration, Meraki configuration and administration, Powershell, Google
                            GSuite Administration</td>
                    </tr>
                    <tr>
                        <td>Software</td>
                        <td>Git/Github, Java, Apache TOMcat, Golang, Revel, National Instruments RoboRIO, Arduino,</td>
                    </tr>
                    <tr>
                        <td>Embedded</td>
                        <td>Arduino</td>
                    </tr>
                    <tr>
                        <td>Computer Aided Design/Manufacturing</td>
                        <td>Autodesk Inventor, Onshape, InventorHSM, VCarve</td>
                    </tr>
                    <tr>
                        <td>Manufacturing</td>
                        <td>Haas, Stratasys uPrint, WinCNC, Shopsabre CNC</td>
                    </tr>
                </tbody>
            </table>

            <h2 class="content-subhead">Past Experience</h2>

            <h3 class="content-subhead">Network Systems Administrator @ The Palmdale Aerospace Academy</h3>
            <h4>June 2015 - July 2019</h4>
            <p>
                In addition to helpdesk duties, developed and coordinated system- and campus-wide maintenance and
                service procedures. Assisted with the setup and configuration of a network servicing over 2000 staff
                member and student user accounts and over 2500 clients utilizing Cisco and Cisco-Meraki equipment. Other
                duties: Windows server administration, device specifications and procurement, and STEM technology
                support and maintenance(3D printers, CNC routers, etc).
            </p>

            <h3 class="content-subhead">Intern / Instrumentation Branch @ NASA Armstrong Flight Research Center</h3>
            <h4>June 2015 - August 2015</h4>
            <p>
                Worked with SOFIA instrumentation team to design mechanical fixtures for sensor evaluation and testing.
                Wrote testing procedures and oversaw functional test process.
            </p>

            <h3 class="content-subhead">Intern / Operations Branch @ NASA Armstrong Flight Research Center</h3>
            <h4>January 2015 - May 2015</h4>
            <p>
                Worked with operations branch to develop a calendar module for DC-8 Operations portal utilizing Java Web
                Technologies.
            </p>

            <h3 class="content-subhead">Youth Robotics Instructor @ SMART Education</h3>
            <h4>July 2014</h4>
            <p>
                Developed and coordinated a week-long introduction to STEM and Robotics summer camp for High School
                students at West Shores HS in Salton Sea, CA.
            </p>

            <h3 class="content-subhead">Youth Robotics Instructor @ King’s Academy</h3>
            <h4>June 2014 - July 2014</h4>
            <p>
                Developed and implemented an introduction to Robotics summer camp for elementary school students.
            </p>


            <h2 class="content-subhead">Volunteer Experience</h2>

            <h3 class="content-subhead">Team Advisor / Lead Engineering Mentor @ Team 5012 Gryffingear</h3>
            <h4>August 2013 - Current</h4>
            <img class="pure-img-responsive" src="https://i.imgur.com/IkCsqsUm.jpg">
            <p>
                Coordinates with school administration and faculty to facilitate unparalleled opportunities for high
                school students to work with industry professionals to design, build, and program World Championship
                caliber robots for the FIRST Robotics Competition.

                As a team, we’ve won multiple regional events and the 2015 World Championship in addition to continued
                community outreach to promote enthusiasm for STEM fields.
            </p>

            <h3 class="content-subhead">College Student Mentor @ Antelope Valley FIRST Robotics teams</h3>
            <h4>May 2013 - May 2014</h4>
            <p>
                Worked with High School robotics teams to develop students’ skills in mechanical design, computer
                programming, and leadership. Worked with programs at Lancaster High and SOAR High schools during this
                time.
            </p>

            <h2 class="content-subhead">Achievements</h2>

            <h3 class="content-subhead">2014 FIRST Tech Challenge Compass Award</h3>
            <h4>August 2013 - Current</h4>
            <img class="pure-img-responsive" src="http://i.imgur.com/Yqau2bQm.png">
            <p>
                The Compass Award recognizes an adult Coach or Mentor who has provided outstanding guidance and support
                for a team throughout the year, and demonstrates to the Team what it means to be a Gracious
                Professional.

                <br>
                I was the youngest person to receive this award at the regional level. The following is the video
                submission created by my students:
                <br>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/ZjUT0_9Y4XU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </p>

        </div>
    </div>
    </div>




    <script src="js/ui.js"></script>

</body>
{{template "footer.html" .}}