{{set . "title" "Other Projects"}}
{{template "header.html" .}}

<body>


    <div id="main">
        <div class="header">
            <h1>Other Projects</h1>
            <h2>Miscellaneous fun stuff</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">Laser Cut Battery Caddy for Classrooms</h2>
            <h3>Summer 2019</h3>
            <img class="pure-img-responsive" src="">
            <p>
                Custom designed and manufactured battery caddy for classroom STEM technology when an off-the-shelf
                solution did not exist. Designed in Autodesk
                Inventor and cut using a 130W laser cutter out of Acrylic. Designed during my stint as <a
                    href="/me#tpaa">The Palmdale Aerospace Academy's</a> Network Systems Admin.
            </p>

            <h2 class="content-subhead">3D Printed Yoyo</h2>
            <h3>Spring 2018</h3>
            <img class="pure-img-responsive" src="https://i.imgur.com/RYzrewBm.jpg">
            <p>
                Second attempt at a playable 3D printed yoyo. Designed using Autodesk Inventor and manufactured on a
                Stratasys uPrint 3d printer. Featured CNC machined aluminum weight rings to maximize moment of inertia.
            </p>

            <h2 class="content-subhead">Custom Arcade Button MIDI Controller</h2>
            <h3>Summer 2015</h3>
            <img class="pure-img-responsive" src="http://i.imgur.com/4tSpRA0m.png">
            <p>
                Fully custom MIDI controller project utilizing an Arduino UNO. Utilized a digital input multiplexer to
                monitor the state of 12 arcade buttons to generate MIDI commands to send to a computer over USB.
                Designed, assembled, and tested in under 2 weeks. Operated in performance environments for over 3 years.
            </p>

            <h2 class="content-subhead">Video Game Controller MIDI Controller Mod</h2>
            <h3>Summer 2013 - Summer 2014</h3>
            <img class="pure-img-responsive" src="http://i.imgur.com/UVN8pQ7m.png">
            <p>
                Converting DJ Hero and Wii Nunchuk controllers to a fully functional MIDI controller for DJ performance
                software utilizing an Arduino MEGA. Features modular electrical design to accomodate a variety of
                novel sensors and input devices.
            </p>

            <h2 class="content-subhead">Modified MIDI Keyboard</h2>
            <h3>Summer 2012 - Summer 2013</h3>
            <img class="pure-img-responsive" src="http://i.imgur.com/tmrTziRm.png">
            <p>
                Modified second-hand MIDI Keyboard into a functional MIDI controller utilizing a Maple ARM
                microcontroller.
            </p>


            <h2 class="content-subhead">3D Printed Yoyo</h2>
            <h3>Fall 2012</h3>
            <img class="pure-img-responsive" src="http://i.imgur.com/tmrTziRm.png">
            <p>
                Designed a fully playable yoyo in Autodesk Inventor. Competed with this yoyo at a regional yoyo contest.
            </p>

        </div>
    </div>
    </div>




    <script src="js/ui.js"></script>

</body>
{{template "footer.html" .}}