{{set . "title" "Other Projects"}}
{{template "header.html" .}}

<body>


    <div id="main">
        <div class="header">
            <h1>Other Projects</h1>
            <h2>Miscellaneous fun stuff</h2>
        </div>

        <div class="content">
            
            <h2 class="content-subhead">Laser Cut Battery Caddy for Classrooms</h2>
            <h3>Summer 2019</h3>
            <img class="pure-img-responsive" src="public/img/tpaabattery.jpg">
            <p>
                Custom designed and manufactured battery caddy for classroom STEM technology when an off-the-shelf
                solution did not exist. Designed in Autodesk
                Inventor and cut using a 130W laser cutter out of Acrylic. Designed during my stint as <a
                    href="/me#tpaa">The Palmdale Aerospace Academy's</a> Network Systems Admin.
            </p>

            <h2 class="content-subhead">3D Printed Yoyo</h2>
            <h3>Spring 2018</h3>
            <img class="pure-img-responsive" src="public/img/yoyo2018.jpg">
            <p>
                Second attempt at a playable 3D printed yoyo. Designed using Autodesk Inventor and manufactured on a
                Stratasys uPrint 3d printer. Featured CNC machined aluminum weight rings to maximize moment of inertia.
            </p>

            <h2 class="content-subhead">Thermal Shutoff Sensor Test Fixture</h2>
            <h3>Spring 2018</h3>
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <img class="pure-img-responsive" src="public/img/nasafixture.jpg"> <br>
                </div>
                <div class="pure-u-1-2">
                    <img class="pure-img-responsive" src="public/img/nasafixture2.jpg"> <br>
                </div>
            </div>
            <p>
                Designed and oversaw testing for thermal sensors to be evaluated for use in SOFIA instrumentation.

                Using AutoCAD, I designed a test fixture to verify the thermal performance of Off the Shelf thermal
                shutoff sensors. Using plastic bushings, the fixture was optimized to produce minimal change in thermal
                performance of the sensors being tested.

                Coordinated with machine shop to procure materials for, manufacture, and assemble the test fixture.

                Developed detailed test plans to test the sensors under many thermal conditions and atmospheric
                pressures to verify sensor performance.

                Designed as part of my term at the <a href="/me#nasa2">NASA Armstrong Flight Research Center.</a>
            </p>

            <h2 class="content-subhead">Robot Parts Database</h2>
            <h3>2013 - Current</h3>
            <img class="pure-img-responsive" src="">
            <p>
                Compiled and maintained an aggregate list of parts commonly used in the FIRST Robotics Competition.
                Traditionally, these items and their applications would be scattered across the internet in various
                group chats and forum posts. This project aims to centralize this information for easy reference in the
                time crunch of the robot season.
            </p>

            <h2 class="content-subhead">Custom Arcade Button MIDI Controller</h2>
            <h3>Summer 2015</h3>
            <img class="pure-img-responsive" src="public/img/arcade.jpg">
            <p>
                Fully custom MIDI controller project utilizing an Arduino UNO. Utilized a digital input multiplexer to
                monitor the state of 12 arcade buttons to generate MIDI commands to send to a computer over USB.
                Designed, assembled, and tested in under 2 weeks. Operated in performance environments for over 3 years.
            </p>

            <h2 class="content-subhead">Video Game Controller MIDI Controller Mod</h2>
            <h3>Summer 2013 - Summer 2014</h3>
            <img class="pure-img-responsive" src="public/img/vg.jpg">
            <p>
                Converting DJ Hero and Wii Nunchuk controllers to a fully functional MIDI controller for DJ performance
                software utilizing an Arduino MEGA. Features modular electrical design to accomodate a variety of
                novel sensors and input devices.
            </p>

            <h2 class="content-subhead">Modified MIDI Keyboard</h2>
            <h3>Summer 2012 - Summer 2013</h3>
            <img class="pure-img-responsive" src="public/img/keyboard.jpg">
            <p>
                Modified second-hand MIDI Keyboard into a functional MIDI controller utilizing a Maple ARM
                microcontroller.
            </p>


            <h2 class="content-subhead">3D Printed Yoyo</h2>
            <h3>Fall 2012</h3>
            <img class="pure-img-responsive" src="public/img/yoyo2012.jpg">
            <p>
                Designed a fully playable yoyo in Autodesk Inventor. 3D printed from ABS plastic. Competed with this
                yoyo at a regional yoyo contest.
            </p>

        </div>
    </div>
    </div>




    <script src="/public/js/ui.js"></script>

</body>
{{template "footer.html" .}}