{{set . "title" .bot.Name}}
{{template "header.html" .}}

<style>
	
	/* Additionnal styles */
	.video-slider {
		width: 100%;
		height: 30em;
		background: #444;
		position: relative;
		overflow: hidden;
	}
	.slide {
		position: absolute;
		top: 0;
		left: 100%;
		height: 100%;
		width: 100%;
		text-align: center;
		overflow: hidden;
	}
	.slide:first-child{
		left: 0;
	}
	.video{
		height: 100%;
		width: 100%;
		border:0;
	}
	.slide-arrow{
		position: absolute;
    color: white;
		top: 0;
		left: 0;
		height: 45%;
		width: 15%;
		cursor: pointer;
		opacity: .5;
	}
	.slide-arrow:hover{
		opacity: 1;
	}
	.slide-arrow:after{
		content: "\003c";
		text-align: center;
		display: block;
		height: 10%;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		font-size: 3em;
	}
	.slide-arrow.right:after{
		content: "\003e";
	}
	.slide-arrow.right{
		left: auto;
		right: 0;
	}
	</style>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://www.youtube.com/iframe_api"></script>
	<script>
	$(document).ready(function () {
		var pos = 0,
			slides = $('.slide'),
			numOfSlides = slides.length;

		function nextSlide() {
			// `[]` returns a vanilla DOM object from a jQuery object/collection
			slides[pos].video.stopVideo()
			slides.eq(pos).animate({ left: '-100%' }, 500);
			pos = (pos >= numOfSlides - 1 ? 0 : ++pos);
			slides.eq(pos).css({ left: '100%' }).animate({ left: 0 }, 500);
      
		}

		function previousSlide() {
			slides[pos].video.stopVideo()
			slides.eq(pos).animate({ left: '100%' }, 500);
			pos = (pos == 0 ? numOfSlides - 1 : --pos);
			slides.eq(pos).css({ left: '-100%' }).animate({ left: 0 }, 500);
		}

		$('.left').click(previousSlide);
		$('.right').click(nextSlide);
	})

	function onYouTubeIframeAPIReady() {
		$('.slide').each(function (index, slide) {
			// Get the `.video` element inside each `.slide`
			var iframe = $(slide).find('.video')[0]
			// Create a new YT.Player from the iFrame, and store it on the `.slide` DOM object
			slide.video = new YT.Player(iframe)
		})
	}
  </script>
  
  <script>
    function showVideo(id) {
      var x = document.getElementById(id);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>
<body>


  <div id="main">
    <div class="header">
      <img class="pure-img-responsive" src="/public/img/level5assets/{{.bot.Logo}}" width="600">
      
      <br>
      <br>
    </div>

    <div class="content">

      <!--<p>{{.bot.Desc}}</p>-->
      <div class="pure-g">
        <div class="pure-u-8-24">

          
          <br>
      <table class="pure-table" width="100%">
        <thead>
          <tr>
            <th>Events</th>
            <th> </th>
          </tr>
        </thead>

        <tbody>
          {{range .bot.Events}}
          <tr>
            <td>
              {{if eq .Report ""}} 
              
              {{else}}
              <a href="#{{.Name}}">{{.Name}}</a>
              {{end}}
              
            </td>
            <td>
              
                {{if eq .Finish "1st"}} 
                <span style="border-radius: 5%;color: black; padding: 4px; background: #FFD739;">
                {{else if eq .Finish "2nd"}}
                <span style="border-radius: 5%;color: black; padding: 4px; background: #BEBEBE;">
                {{else if eq .Finish "3rd"}}
                <span style="border-radius: 5%;color: white; padding: 4px; background: #BB8644;">
                {{else if eq .Finish "NR"}}
                <span style="border-radius: 5%;color: white; padding: 4px; background: #606060;">
                {{else if eq .Finish ""}}
                <span >
                {{else}}
                <span style="border-radius: 5%;color: white; padding: 4px; background: #0094B2;">
                {{end}}
                {{.Finish}}</span>
            </td>

          </tr>
          {{end}}
        </tbody>
      </table>

        </div>
        <div class="pure-u-1-12"></div>
        <div class="pure-u-14-24">


          <br>
          <img class="pure-img-responsive" src="/public/img/level5assets/robotpics/{{.bot.Img}}">
          <br>
          {{.bot.Desc}}

          <br>
          <br>
          <table class="pure-table pure-table-horizontal" width="100%">

            <tbody>

              <tr>
                
                <th>Weight Class</th>
                <td>{{.bot.WeightClass}}</td>
              </tr>

              <tr>
                <th>Weapon</th>
                <td>{{.bot.Weapon}}</td>
              </tr>
              <tr>
                <th>Status</th>
                <td> 
                    {{if eq .bot.Status "In Service"}} 
                    <span style="border-radius: 5%;color: white; padding: 4px; background: green;">
                    {{else if eq .bot.Status "On Hold"}}
                    <span style="border-radius: 5%;color: black; padding: 4px; background: #BEBEBE;">
                    {{else if eq .bot.Status "Retired"}}
                    <span style="border-radius: 5%;color: white; padding: 4px; background: #606060;">
                    {{else}}
                    <span style="border-radius: 5%;color: black; padding: 4px;">
                    {{end}}
                    {{.bot.Status}}</span> 
            </td>
              </tr>
              <tr>
                <th>Career Record</th>
                <td>{{.bot.Wins}}W - {{.bot.Losses}}L ({{.bot.Winrate}}%)</td>
              </tr>
              
            </tbody>
          </table>
          <br>
        </div>
      </div>

<h2> Event Results</h2>

      {{range .bot.Events}}
      <h3 id="{{.Name}}">{{.Name}}</h3>
      
      <div class="pure-g">
      <div class="pure-u-8-24">
        🗺️ <i>{{.Location}}</i> / 📅 <i>{{.Date}}</i><br>

        {{if eq .Website "" }}{{else}}
        🔗 <i><a href="{{.Website}}" target="_blank">Website</a></i> / 
        {{end}}
        {{if eq .Bracket "" }}{{else}}
        🏆 <i><a href="{{.Bracket}}" target="_blank">Bracket</a></i> / 
        {{end}}
        📋 <i><a href="{{.Report}}" target="_blank">Report</a></i><br><p>
        <hr>
          {{.Robot}} placed <b>{{.Finish}}</b>
          with a bracket record of {{.WinCount}}W - {{.LossCount}}L. 
          
        </p>
      <table class="pure-table" width="100%">
        <thead>
          <tr>
            <th width="20%">
              <img class="pure-img-responsive" src="/public/img/video.png"></th>
            <th>Fight</th>
            <th>Win</th>
          </tr>
        </thead>

        <tbody>
        {{range .Fights}}
        
        
            <tr
            {{if .IsRumble}}
            style="background:#ffa6007e"
            {{end}}
            >
              <td>
                {{if .VideoExists}}
                <a href="/level5/fights/{{.Id}}">
                <!--<a href="https://www.youtube.com/watch?v={{.Video}}" target="_blank">-->
                  <img class="pure-img-responsive" src="/public/img/video.png">
                </a>
                
                <!--
                <input type="image" onclick="showVideo({{.Video}})" src="/public/img/video.png"/>-->
                
                {{else}}
  
                {{end}}
  
              </td>
  

              <td><a href="/level5/fights/{{.Id}}">
                {{.OpponentRobot}}
                </a></td>
              <td>
                {{if .MyWin}}
                
                {{if .IsRumble}}
                🏆
                {{else}}
                ✅
                {{end}}
                {{else}}
                {{if .IsRumble}}
                -
                {{else}}
                ❌
                {{end}}
                {{end}}
  
                {{end}}
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="pure-u-1-12"></div>
      <div class="pure-u-14-24">
        {{if eq .Video ""}}


      {{else}}
      
      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{.Video}}" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <br><br>{{end}}



      </div>
      
    </div>
        <hr>
      {{end}}

      
      <br>
      
        </div>
      










  </div>
  </div>




  <script src="/public/js/ui.js"></script>

</body>
{{template "footer.html" .}}