{{set . "title" .bot.Name}}
{{template "header.html" .}}

<style>
	
	/* Additionnal styles */
	.video-slider {
		width: 100%;
		height: 30em;
		background: #444;
		position: relative;
		overflow: hidden;
	}
	.slide {
		position: absolute;
		top: 0;
		left: 100%;
		height: 100%;
		width: 100%;
		text-align: center;
		overflow: hidden;
	}
	.slide:first-child{
		left: 0;
	}
	.video{
		height: 100%;
		width: 100%;
		border:0;
	}
	.slide-arrow{
		position: absolute;
    color: white;
		top: 0;
		left: 0;
		height: 45%;
		width: 15%;
		cursor: pointer;
		opacity: .5;
	}
	.slide-arrow:hover{
		opacity: 1;
	}
	.slide-arrow:after{
		content: "\003c";
		text-align: center;
		display: block;
		height: 10%;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		font-size: 3em;
	}
	.slide-arrow.right:after{
		content: "\003e";
	}
	.slide-arrow.right{
		left: auto;
		right: 0;
	}
	</style>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script>
	$(document).ready(function () {
		var pos = 0,
			slides = $('.slide'),
			numOfSlides = slides.length;

		function nextSlide() {
			// `[]` returns a vanilla DOM object from a jQuery object/collection
			slides[pos].video.stopVideo()
			slides.eq(pos).animate({ left: '-100%' }, 500);
			pos = (pos >= numOfSlides - 1 ? 0 : ++pos);
			slides.eq(pos).css({ left: '100%' }).animate({ left: 0 }, 500);
      
		}

		function previousSlide() {
			slides[pos].video.stopVideo()
			slides.eq(pos).animate({ left: '100%' }, 500);
			pos = (pos == 0 ? numOfSlides - 1 : --pos);
			slides.eq(pos).css({ left: '-100%' }).animate({ left: 0 }, 500);
		}

		$('.left').click(previousSlide);
		$('.right').click(nextSlide);
	})

	function onYouTubeIframeAPIReady() {
		$('.slide').each(function (index, slide) {
			// Get the `.video` element inside each `.slide`
			var iframe = $(slide).find('.video')[0]
			// Create a new YT.Player from the iFrame, and store it on the `.slide` DOM object
			slide.video = new YT.Player(iframe)
		})
	}
  </script>
<script>
    function showVideo(id) {
      var x = document.getElementById(id);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>
<script>
  function changeVersion(id) {
    document.getElementById("RobotPic").src = "/public/img/level5assets/robotpics/{{.bot.Name2}}_" + id + ".jpg"
    document.getElementById("versionDisplay").innerHTML = id
  }
</script>
<style>
  /* Style the tab */
.tab {
  overflow: hidden;
  
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  color: #777;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  border: 1px solid #ccc;
  border-bottom: none;
}


details > summary {
  padding: 2px 6px;
  width: 15em;
  border: none;
  cursor: pointer;
  list-style: none;
}

</style>
<script>
  function showPastEvents() {
        var x = document.getElementById("allevents");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

<body>


  <div id="main">
    <div class="header">
      <img class="pure-img-responsive"
        src="/public/img/level5assets/{{.bot.Logo}}" width="600">

      <br>
      
      <br>
      
    </div>

    <div class="content">
      

      
      <div class="pure-g">
        <div class="pure-u-9-24">


          <br>
          
          <table class="pure-table pure-table-horizontal"
          width="100%">

          <tbody>
            <tr>
              
              <th colspan="2"><Center>{{.bot.Name}}
              <span style="border-radius: 0%;color: black; padding:
                4px; background: #BEBEBE;">
                V{{.bot.CurrentVersion}}
                
              </span></center>
              </td></th></tr>
                    
            <tr>

              <th>Weight Class</th>
              <td>{{.bot.WeightClass}}</td>
            </tr>

            <tr>
              <th>Weapon</th>
              <td>{{.bot.Weapon}}</td>
            </tr>

                  <tr>
                    <th>Career Record</th>
                    <td>{{.bot.Wins}}W - {{.bot.Losses}}L
                      ({{.bot.Winrate}}%)
                      </td>
                  </tr>
                  
                  <tr>
                  </tr>
                  <tr>
                    <th>Current RCL Rank:</th><td><a href="{{.bot.Rce}}">{{.rank}}</a></td>
                  </tr>
                  <!--<tr> <td colspan="2"><b>Name Origin: </b> {{.bot.Desc}} </td> </tr>-->
                  <tr> <td colspan="2">
                    <center>{{if eq .bot.Name "Ditto"}}
                    <span style="border-radius:
                    5%;color: black;
                    padding: 4px;
                    background: #FFD739;">2024 National Champion</span><br>
                    {{end}}
                {{range .bot.Events}}
                {{if eq .Finish "1st"}}
                <a href="#{{.Name}}" title="1st place @ {{.Name}}">🥇</a>
                {{else if eq .Finish "2nd"}}
                <a href="#{{.Name}}" title="2nd place @ {{.Name}}">🥈</a>
                {{else if eq .Finish "3rd"}}
                <a href="#{{.Name}}" title="3rd place @ {{.Name}}">🥉</a>
                {{end}}
  
                {{end}}</center></td></tr>
                </tbody>
              </table>
              <br>

          {{if not .bot.Events}}

          {{else}}
          <button onclick="showPastEvents()">Show/Hide All Events</button>
          <br><br>
          <div id="allevents" style="display:none">
          <table class="pure-table" width="100%">
            <thead>
              <tr>
                <th>Events</th>
                <th> </th>
              </tr>
            </thead>

            <tbody>

              {{range .bot.Events}}
              {{if eq .Finish "NP"}}
              {{else}}
              <tr>
                <td>
                  <a href="#{{.Name}}">{{.Name}}</a>
                  
                  

                </td>
                <td>
                  

                  {{if eq .Finish "1st"}}
                  <span style="border-radius: 5%;color: black; padding: 4px;
                    background: #FFD739;">
                    {{else if eq .Finish "2nd"}}
                    <span style="border-radius: 5%;color: black; padding: 4px;
                      background: #BEBEBE;">
                      {{else if eq .Finish "3rd"}}
                      <span style="border-radius: 5%;color: white; padding: 4px;
                        background: #BB8644;">
                        {{else if eq .Finish "NR"}}
                        <span style="border-radius: 5%;color: white; padding:
                          4px; background: #606060; font-size:10px;">
                          {{else if eq .Finish ""}}
                          <span>
                            {{else}}
                            <span style="border-radius: 5%;color: white;
                              padding: 4px; background: #0094B2;">
                              {{end}}

                              {{if eq .Finish "NP"}}
                              Upcoming
                              {{else if eq .Finish "NR"}}
                              -
                              {{else}}
                              {{.Finish}}
                          {{end}}
                              </span>
                          </td>

                        </tr>
                        
                        {{end}}
                        {{end}}
                      </tbody>
                    </table>
                  </div>
                    <br>
                    
                    

                    {{end}}
                    
                          <br><br>

                    <!--<p>{{.bot.Desc}}</p>-->
                  </div>
                  <div class="pure-u-1-24"></div>
                  <div class="pure-u-14-24">
<br>
                    <div id="picContainer" class="tabcontent"
                    style="position:relative; text-align:right; font-family:
                    'Roboto'; font-size: 48px; font-weight:900; font-style:
                    italic; color:white;">
                    <img id="RobotPic" class="pure-img-responsive"
                      src="/public/img/level5assets/robotpics/{{.bot.Name2}}_{{.bot.CurrentVersion}}.jpg">
                    <!--<div id="versionDisplay" style="position: absolute;
                      bottom: 16px; right: 16px; text-shadow: -1px 0 black, 0
                      1px black, 1px 0 black, 0 -1px black;">{{.bot.CurrentVersion}}</div>
                    --></div>
                  <div class="tab">
                    {{range .bot.Versions}}
                    <button class="tablinks"
                      onclick="changeVersion('{{.}}')">{{.}}</button>

                    {{end}}
                  </div>
                    <br>
                    <!--{{if eq .bot.Media ""}}{{else}}
                      
          <iframe width="560" height="315"
            src="https://www.youtube.com/embed/{{.bot.Media}}"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media;
            gyroscope; picture-in-picture" allowfullscreen></iframe>
          <br><br>
          {{end}}
                -->

                    

                    
                    
                          
                        </div>
                        
                      </div>

                      {{if true}}
                      <!--<h2>Upcoming Events</h2>-->
                      
                        
                      {{range .bot.Events}}
                      {{if eq .Finish "NP"}}
                      <h4 id="{{.Name}}">{{.Name}}</h4>

                      <div class="pure-g">
                        <div class="pure-u-9-24">
                          📅 <i>{{.Date}}</i> / 📍 <i>{{.Location}}</i><br>
                          {{if eq .Report "" }}{{else}}📋 <i><a href="{{.Report}}" target="_blank">Report</a></i> / {{end}}
                          {{if eq .Website "" }}{{else}}
                          🔗 <i><a href="{{.Website}}" target="_blank">Website</a></i>
                          {{end}}
                          {{if eq .Bracket ""}}{{else}}
                          / 🏆 <i><a href="{{.Bracket}}" target="_blank">Bracket</a></i>
                          {{end}}
                          <br><br>


                        </div>
                        <div class="pure-u-1-24"></div>
                        <div class="pure-u-14-24">
                         


                        </div>

                      </div>
                      <hr>
                      {{end}}
                      {{end}}
                      {{end}}
                    

                      <h2>Past Events</h2>

                      {{range .bot.Events}}

                      {{if eq .Finish "NP"}}
                      {{else}}
                      <h4 id="{{.Name}}">
                        {{if eq .Finish "1st"}}
                      <a href="#{{.Name}}" title="1st place @ {{.Name}}">🥇</a>
                      {{else if eq .Finish "2nd"}}
                      <a href="#{{.Name}}" title="2nd place @ {{.Name}}">🥈</a>
                      {{else if eq .Finish "3rd"}}
                      <a href="#{{.Name}}" title="3rd place @ {{.Name}}">🥉</a>
                      {{end}}
                        {{if eq .Finish "NP"}} (Upcoming) {{end}}{{.Name}}</h4>

                      <div class="pure-g">
                        <div class="pure-u-9-24">
                          📅 <i>{{.Date}}</i> / 📍 <i>{{.Location}}</i><br>
                          {{if eq .Report "" }}{{else}}📋 <i><a href="{{.Report}}" target="_blank">Report</a></i> / {{end}}
                          {{if eq .Website "" }}{{else}}
                          🔗 <i><a href="{{.Website}}" target="_blank">Website</a></i>
                          {{end}}
                          {{if eq .Bracket ""}}{{else}}
                          / 🏆 <i><a href="{{.Bracket}}" target="_blank">Bracket</a></i>
                          {{end}}
                          <br><br>
                          <p>
                            {{if eq .Finish "NR"}}
                            {{.Robot}} was not ranked.
                            
                            
                            {{else if eq .Finish "NP"}}
                            <!--This event has not yet occurred or is currently in progress.  -->
                            {{else}}
                            
                            {{.Robot}} placed <b>{{.Finish}}</b>
                            with a record of {{.WinCount}}W -
                            {{.LossCount}}L.
                            {{end}}

                          </p>

                          {{if eq .Finish "NP"}} 
                          {{else}}
                          
                          <table class="pure-table" width="100%">
                            <thead>
                              <tr>
                                <th width="12%">
                                  <img class="pure-img-responsive"
                                    src="/public/img/video.png"></th>
                                <th>Vs</th>
                                <th></th>
                              </tr>
                            </thead>

                            <tbody>
                              {{range .Fights}}


                              <tr
                                {{if .IsRumble}}
                                style="background:#ffa6007e"
                                {{end}}>
                                <td>
                                  {{if .VideoExists}}
                                  <a href="/level5/fights/{{.Id}}">
                                    <!--<a href="https://www.youtube.com/watch?v={{.Video}}" target="_blank">-->
                                    <img class="pure-img-responsive"
                                      src="/public/img/video.png">
                                  </a>

                                  <!--
                <input type="image" onclick="showVideo({{.Video}})" src="/public/img/video.png"/>-->
                                  {{else}}

                                  {{end}}

                                </td>

                                <td>
                                  <a href="/level5/fights/{{.Id}}">{{.OpponentRobot}}</a></td>
                                <td>
                                  {{if .MyWin}}

                                  {{if .IsRumble}}
                                  🏆
                                  {{else}}
                                  
                  <span style="border-radius: 10%;color: Black; padding: 4px; background: #FFD739;">Win</span>
                                  {{end}}
                                  {{else}}
                                  {{if .IsRumble}}
                                  -
                                  {{else}}
                                  
                  <span style="border-radius: 10%;color: Black; padding: 4px; background: #ff010185;">Loss</span>
                                  {{end}}
                                  {{end}}

                                  {{end}}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          {{end}}

                        </div>
                        <div class="pure-u-1-24"></div>
                        <div class="pure-u-14-24">
                          {{if eq .Video ""}}


                          {{else}}

                          <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/{{.Video}}"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media;
                            gyroscope; picture-in-picture" allowfullscreen></iframe>
                          <br><br>{{end}}



                        </div>

                      </div>
                      <hr>

                      {{end}}
                      {{end}}
                      {{if not .bot.Events}}
                      {{.bot.Name}} has not yet competed at any events.
                      {{end}}

                      


                      <br>

                    </div>











                  </div>
                </div>




                <script src="/public/js/ui.js"></script>

              </body>

              
              {{template "footer.html" .}}