{{set . "title" "Level 5 Robotics"}}
{{template "header.html" .}}

<body>


    <div id="main">
        <div class="header">
            <div class="pure-g">
                <div class="pure-u-1-1">
                    <img class="pure-img-responsive" src="/public/img/l5logosmall.png">
                    <br><br>
                </div>
            </div>
        </div>

        <div class="content">

            <br>
            
            <p>
                Level 5 Robotics is the brand that I've created around the competitive combat robots that I build. All
                of my robots are designed by myself using Autodesk Inventor and manufactured using a variety of machines and tools.

                <br><br>
                Learn more about my robots below!
            </p>


            <h2 class="content-subhead">Robots</h2>
            {{.record}}
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>Robot</th>
                        
                        <th>W-L</th>
                        <th>Weight Class</th>
                        <th>Weapon Type</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    {{range .bots}}
                    <tr>
                        <td><span class="dot"
                                style="height: 12px;width: 12px;background-color: #{{.Rgb}};border-radius: 50%;display: inline-block;"></span>
                            <a href="/level5/{{.Name}}">{{.Name}}</a></td>
                            
                        <td>{{.Wins}} - {{.Losses}} ({{.Winrate}}%)</td>
                        <td>{{.WeightClass}}</td>
                        <td>{{.Weapon}}</td>
                        
                        <td>
                            {{if eq .Status "In Service"}}
                            <span style="border-radius: 5%;color: white; padding: 4px; background: green;">
                                {{else if eq .Status "On Hold"}}
                                <span style="border-radius: 5%;color: black; padding: 4px; background: #BEBEBE;">
                                    {{else if eq .Status "Retired"}}
                                    <span style="border-radius: 5%;color: white; padding: 4px; background: #606060;">
                                        {{else}}
                                        <span style="border-radius: 5%;color: black; padding: 4px;">
                                            {{end}}
                                            {{.Status}}</span>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
            <h2 class="content-subhead">Events</h2>
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>
                          <img class="pure-img-responsive" src="/public/img/video.png"></th>
                        <th>Event</th>
                        <th>Robot</th>
                        <th></th>
                        <th>Date</th>
                    </tr>
                </thead>

                <tbody>
                    {{range .events}}
                    <tr>
                        <td>
                          {{if .VideoExists}}
                          
                          <a href="https://www.youtube.com/watch?v={{.Video}}" target="_blank">
                            <img class="pure-img-responsive" src="/public/img/video.png">
                          </a>
                          {{else}}
            
                          {{end}}
            
                        </td>
                        <td>{{.Name}}</td>
                        <td><a href="/level5/{{.Robot}}">{{.Robot}}</a></td>
                        <td><center>{{if eq .Finish "1st"}} 
                            <span style="border-radius: 5%;color: black; padding: 4px; background: #FFD739;">
                            {{else if eq .Finish "2nd"}}
                            <span style="border-radius: 5%;color: black; padding: 4px; background: #BEBEBE;">
                            {{else if eq .Finish "3rd"}}
                            <span style="border-radius: 5%;color: white; padding: 4px; background: #BB8644;">
                            {{else if eq .Finish "NR"}}
                            <span style="border-radius: 5%;color: white; padding: 4px; background: #606060;">
                            {{else if eq .Finish ""}}
                            <span >
                            {{else}}
                            <span style="border-radius: 5%;color: white; padding: 4px; background: #0094B2;">
                            {{end}}
                            {{.Finish}}</span></center></td>
                        <td>{{.Date}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>

        </div>
    </div>
    </div>




    <script src="/public/js/ui.js"></script>

</body>


<script src="https://www.retainable.io/assets/retainable/rss-embed/retainable-rss-embed.js"></script>
{{template "footer.html" .}}