{{set . "title" "Level 5 Robotics"}}
{{template "header.html" .}}

<body>


    <div id="main">
        <div class="header">
            <div class="pure-g">
                <div class="pure-u-1-1">
                    <img class="pure-img-responsive" src="/public/img/l5logosmall.png">
                </div>
            </div>
        </div>

        <div class="content">

            <h2 class="content-subhead">Small, violent robots</h2>
            <img class="pure-img-responsive" src="/public/img/l5banner.jpg">
            <p>
                Level 5 Robotics is the brand that I've created around the competitive combat robots that I build. All
                of my robots are designed by myself using Autodesk Inventor and manufactured using a variety of machines
                and services like CNC machining, waterjet cutting, and 3D printing.

                <br><br>

                Learn more about my robots below!
            </p>


            <h2 class="content-subhead">Robots</h2>
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>Robot</th>
                        <th>Weight Class</th>
                        <th>Weapon Type</th>
                        <th>Status</th>
                        <th>W-L</th>
                        <th>Events</th>
                    </tr>
                </thead>

                <tbody>
                    {{range .bots}}
                    <tr>
                        <td><a href="/level5/{{.Name}}">{{.Name}}</a></td>
                        <td>{{.WeightClass}}</td>
                        <td>{{.Weapon}}</td>
                        <td>{{.Status}}</td>
                        <td>{{.Wins}} - {{.Losses}} ({{.Winrate}}%)</td>
                        <td>{{.Events}}
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>

        </div>
    </div>
    </div>




    <script src="js/ui.js"></script>

</body>
{{template "footer.html" .}}