<!DOCTYPE html>

<html>

<head>
    <title>{{.title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
    
    <link rel="stylesheet" type="text/css" href="/public/css/tables.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<link rel="stylesheet" href="/public/css/blog.css">
	
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <meta name="viewport" content="width=device-width">
    <script src="/public/js/jquery-2.2.4.min.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

<style>
	.navbar {
		background-color: rgba(0,0,0,0);
		position: fixed; /* Set the navbar to fixed position */
		top: 0; /* Position the navbar at the top of the page */
		width: auto;
	}
	.main {
		margin-top: 50px; /* Add a top margin to avoid content overlay */
	}

	.search {
		background-color: rgba(0,0,0,0);
		top: 0; /* Position the navbar at the top of the page */
		width: auto;
		float:right;
	}

	.dropdown {
	}
</style>
		<div class="pure-g" style="padding-top: 10px">
		<div class="pure-u-1-24 pure-u-xl-1-16"></div>
		<div class="pure-u-23-24 pure-u-xl-7-8">
			<nav>
				<div class="pure-menu pure-menu-horizontal navbar">
				<ul class="pure-menu-list">

					<li class="pure-menu-item"><a href="/"> <img class="pure-img" src="/public/img/header.png" height="24" width="100" style="padding-top: 10px"> </a></li>
					<li class="pure-menu-item"></li>

				</ul>

				</div>

			</nav>

			<div class="main">

			</div>
		</div>
		<div class="pure-u-1-24 pure-u-xl-1-16"></div>
	</div>
</head>