<!DOCTYPE html>

<html>

<!--
<style>
    
    a:link {
    color: #6f4a8e;
    }

    /* visited link */
    a:visited {
    color: #6f4a8e;
    }

    /* mouse over link */
    a:hover {
    color: #6f4a8e;
    }

    /* selected link */
    a:active {
    color: #6f4a8e;
    }
</style>
-->


<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
<head>
    <title>{{.title}}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-2.2.4.min.js"></script>

    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->

    <meta name="viewport" content="width=1024">

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">


    <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
        <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/public/css/layouts/side-menu.css">
    <!--<![endif]-->

    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span><img class="pure-img" src="/public/img/menu.png">
                </span>
        </a>

        <div id="menu">
            <div class="pure-menu">
                <a class="pure-menu-heading" href="/">

                    <div class="pure-g">
                        <div class="pure-u-1-1">
                            <img class="pure-img-responsive" src="/public/img/header.png">
                        </div>
                    </div> 

                </a>

                <ul class="pure-menu-list">
                    

                    <!--<li class="pure-menu-item"><a href="/" class="pure-menu-link">🏠 Home</a></li>
                    <li class="pure-menu-heading">Level 5</li>-->
                    <li class="pure-menu-item"><a href="/level5" class="pure-menu-link">⚙️ Level 5 Robotics</a></li>
                    <li class="pure-menu-item"><a href="/crresources" class="pure-menu-link">🔧 Tools</a></li>
                    <!--<li class="pure-menu-item"><a href="https://teespring.com/stores/level-5-robotics" target="_blank" class="pure-menu-link">👕 Merch</a></li>
                -->
                    <li class="pure-menu-heading">Socials</li>
                    <li class="pure-menu-item"><a href="https://instagram.com/robots.jpg" target="_blank" class="pure-menu-link">📸 Instagram</a></li>
                    <li class="pure-menu-item"><a href="https://www.youtube.com/channel/UCZVhE-wuYzTZE4Ozd0DoFGA" target="_blank" class="pure-menu-link">▶️ Youtube</a></li>
                  <!--     <li class="pure-menu-item"><a href="https://www.linkedin.com/in/jeremy-germita-77a15042/" target="_blank" class="pure-menu-link">💼 LinkedIn</a></li>
                 
                    <li class="pure-menu-heading">Friends</li>
                    <li class="pure-menu-item"><a href="https://www.instagram.com/scar_socalattackrobotics/" target="_blank" class="pure-menu-link">🫵 SCAR</a></li>
                    <li class="pure-menu-item"><a href="https://www.instagram.com/madcatter_battlebot" target="_blank" class="pure-menu-link">🐱 MaDcAtTeR</a></li>
                    <li class="pure-menu-item"><a href="https://stillgonnasendit.org/" target="_blank" class="pure-menu-link">🥊 Team Uppercut</a></li>
                    <li class="pure-menu-item"><a href="https://www.team399.org/" target="_blank" class="pure-menu-link">🤖 Eagle Robotics</a></li>
                    <li class="pure-menu-item"><a href="https://www.instagram.com/generalyo/" target="_blank" class="pure-menu-link">🪀 General-Yo</a></li>
                -->
                    
                </ul>
            </div>
        </div>

        
</head>


<script src="/js/ui.js"></script>